<h1>Listing events</h1>

<%= link_to "Add event", "#", :id => "add_event_button" %>
<%= content_tag :div, :id => "event_form", :style => "display: none" do %>
  <%= form_for Event.new do |f|%>
    <p><%= f.label :title %><br />
    <%= f.text_field :title, :class => :required %></p>

    <p><%= f.label :starts_on %><br />
    <%= f.text_field :starts_on, :class => :required %><br /><small>("YYYY-MM-DD")</small></p>

    <p><%= f.label :week_days %><br />
    <%= f.text_field :week_days %><br /><small>("1,3,5")</small></p>

    <p><%= f.label :month_days %><br />
    <%= f.text_field :month_days %><br /><small>("1,6,23")</small></p>
    
  <% end %>
<% end %>

<%= content_tag :div, "", :id => "add_event_dialog" %>
<%= content_tag :div, "", :id => "update_event_dialog" %>

<%= content_tag :div, "", :id => :event_calendar %>
