<!DOCTYPE html>
<html>
<head>
  <title>SketchyCalendarService</title>
  <%= stylesheet_link_tag "scaffold", "jquery-ui-1.8.14/ui-lightness/jquery-ui-1.8.14.custom", "fullcalendar" %>
  <%= javascript_include_tag "vendor/jquery-1.5.1.min", "vendor/jquery-ui-1.8.14.custom.min", "vendor/fullcalendar/fullcalendar.min", "vendor/jquery.blockUI", "vendor/jquery.rest", "vendor/underscore" %>
  <%= javascript_include_tag "widgets/event_calendar", "widgets/add_event_form", "widgets/update_event_form" %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if signed_in? %>
  Hi, <%= current_user.name %>! <%= link_to "Log out", logout_path %>
<% else %>
  <%= loginza_button_tag("Login via OpenID", users_url) %>
<% end %>

<%= yield %>

</body>
</html>
